:root {
  --active-chats-color: #001746;
  --active-chats-width: 14rem;

  --font-main: 'Inter', sans-serif;
}

.hidden {
  visibility: hidden;
}

.invisible-input {
  background: none;
  border: none;
}

.invisible-input:focus {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0A1F5D;
  font-family: var(--font-main);
}

header {
  border-bottom: 3px solid #114BC0;
  height: 50px;
  display: flex;
}

.main-search {
  width: var(--active-chats-width);
  background: var(--active-chats-color);
  height: 100%;
}

.main-search-container {
  display: flex;
  margin: 15px 13px;
  padding: 3px 5px 3px 7px;
  border-radius: 15px;
  background: #193BA0;
}

.main-search-icon {
  width: 18px;
  margin-right: 6px;
}

.main-search-input {
  flex: 1;
  overflow: scroll;
  color: #5C85FF;
}

.main-search-input::placeholder {
  font-size: 18px;
}

.main-search-input:focus {
  outline: none;
}

.chat-info {

}

.chat-info-username {
  margin: auto 10px;

  color: #B9EAFF;
  font: 2.1rem var(--font-main);
  font-weight: 800;
}

main {
  display: flex;
  flex: 1;
}

.active-chats {
  width: var(--active-chats-width);
  height: 100%;

  overflow-y: scroll;

  background: var(--active-chats-color);
}

.active-chat { 
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid #0A2660;
}

.active-chat:hover {
  cursor: pointer;
  background: #002369;
}

.active-chat > .username {
  font-size: 18px;
  font-weight: 700;
  color: #88A6FF;
}

.active-chat > .last-message-time {
  float: right;
  color: #2648AE;
}

.active-chat > .last-message-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  color: #3F61C8;
}

.current-active-chat {
  background: #2648AE;
}

.current-active-chat:hover {
  background: #2648AE;
}

.current-active-chat > .username {
  color: #B9EAFF;
}

.current-active-chat > .last-message-time {
  color: #88A6FF;
}

.current-active-chat > .last-message-text {
  color: #88A6FF;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message {
  font-size: 14px;
  margin: 8px 10px;
  padding: 5px 10px;
  max-width: 55%;
  border-radius: 20px;
}

.chat-message-time {
  margin-left: 5px;
  float: right;
  color: #2648AE;
}

.sended-message {
  align-self: self-end;
  background: #5C85FF;
}

.received-message {
  align-self: self-start;
  background: #2E62FF;;
}

.chat-input-container {
  display: flex;
  border-radius: 12px;
  background: #2648AE;
  margin: 7px 10px;
}

.chat-input {
  flex: 1;
  resize: none;
  overflow: scroll;
  margin: 3px 10px;
  color: #B9EAFF;
}