@use './vars.scss' as *;
@use './mixins.scss' as *;


.chat-header {
  height: $header-height;
  border-bottom: $header-border-bottom;
}

.chat-info {
  height: 100%;
  display: flex;

  .title {
    margin: auto 10px;

    color: #B9EAFF;
    font: 2.1rem $font-main;
    font-weight: 800;
  }
}

.chat {
  @include flex-column;
  flex: 1;
}

.chat-history {
  @include flex-column;

  flex: 1;
  justify-content: flex-end;
}

.chat-message {
  font-size: 14px;
  margin: 3px 10px;
  padding: 5px 10px;
  max-width: 55%;
  min-width: 100px;
  border-radius: 20px;
  hyphens: auto;

  .time {
    margin-left: 8px;
    float: right;
    color: #2648AE;
  }

  &.sended {
    align-self: self-end;
    background: #5C85FF;
  }

  &.received {
    align-self: self-start;
    background: #2E62FF;
  }
}

.chat-input-box {
  padding: 10px;

  textarea {
    @include blank-input;

    resize: none;
    hyphens: auto;
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    background: #2648AE;
    border-radius: 10px;
    color: #B9EAFF;
    font-size: 16px;
  }
}

.chat-text-input {
  background: #2648AE;
  min-height: 40px;
  border-radius: 10px;
  padding: 5px;

  @include resizable-textarea;

  textarea {
    @include blank-input;

    width: 100%;
    color: #B9EAFF;
    font-size: 20px;
  }
}